{% extends 'baseFrontEnd.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="page" style="background: linear-gradient(90deg, hsla(239, 60%, 30%, 1) 0%, hsla(250, 78%, 48%, 1) 100%);">



			<div class="page-single">
				<div class="container">
					<div class="row">
						<div class="col mx-auto">
							<div class="row justify-content-center">
								<div class="col-xl-7 col-lg-12">
									<div class="row p-0 m-0">
										<div class="col-lg-6 p-0">
											<div class="text-justified text-white p-5 register-1 overflow-hidden">
												<div class="custom-content">
													<div class="mb-5 br-7">
														<img src="{{ asset('build/assets/images/brand/logo.png')}}" class="header-brand-img desktop-lgo" alt="Azea logo">
													</div>
													<div class="ms-5">
														<div class="fs-30 mb-6 font-weight-bold text-white text-center">{% trans %}BIENVENUE{% endtrans %}</div>
														<div class="mb-6 text-white-50 text-center fs-14  ">
															{% trans %}Application de gestion d'une bibliothèque{% endtrans %}
														</div>
														<h6 class="text-white-50 text-center ">{% trans %}Vous n'avez pas de compte ?{% endtrans %}
														<br>
														<a href="{{ path('app_register') }}" class="btn btn-white text-primary text-transparent font-weight-bold text-center mt-5"><i class="fa fa-user me-2"></i> {% trans %}Créer un compte ici{% endtrans %}</a>
														
														<a href="{{ path('accueil') }}" class="btn btn-white text-primary text-transparent font-weight-bold text-center mt-5"><i class="fa fa-home me-2"></i>{% trans %}Accueil{% endtrans %}</a>
														</h6>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-8 col-lg-6 p-0 mx-auto ">
											<div class="bg-white text-dark br-7 br-tl-0 br-bl-0 border-primary">
												<div class="card-body">
													<div class="text-center mb-3">
														<h1 class="mb-2">Connexion</h1>
													</div>
													<form class="mt-5" method="post">
														{% if error %}
															<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
														{% endif %}

														{% if app.user %}
															<div class="mb-3">
																{% trans %}Vous êtes connectés sous :{% endtrans %} {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
															</div>
														{% endif %}
														<div class="input-group mb-4">
																<div class="input-group-text">
																	<i class="fe fe-user"></i>
																</div>
																<input type="email" placeholder="Votre email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
		
														</div>
														<div class="input-group mb-4">
															<div class="input-group" id="Password-toggle">
																<a href="" class="input-group-text">
																<i class="fe fe-eye" aria-hidden="true"></i>
																</a>
																<input type="password" placeholder="Votre mot de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
																	

																		{#
																			Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																			See https://symfony.com/doc/current/security/remember_me.html

																			<div class="checkbox mb-3">
																				<label>
																					<input type="checkbox" name="_remember_me"> Remember me
																				</label>
																			</div>
																		#}
															</div>
														</div>
														<input type="hidden" name="_csrf_token"
															value="{{ csrf_token('authenticate') }}">
														<div class="form-group">
															<label class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input" />
																<span class="custom-control-label">{% trans %}Se souvenir de moi{% endtrans %}</span>
															</label>
														</div>
														<div class="form-group text-center mb-3">
															<button class="btn btn-outline-primary btn-md w-100 br-7"><i class="fa fa-unlock me-2"></i> {% trans %}Connexion{% endtrans %}</button>
														</div>
														<div class="form-group fs-13 text-center">
															{% trans %}Mot de passe oublié ?{% endtrans %}
														</div>
														<div class="form-group fs-14 text-center font-weight-bold">
															<i class="fa fa-hand-o-right"></i> 
															
															<a href="javascript:void(0);">{% trans %}Cliquez ici{% endtrans %}</a>
															<i class="fa fa-hand-o-left"></i>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
