<!DOCTYPE html>
<html>
    <head>
        <!-- Meta data -->
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta content="Azea - Admin Panel HTML template" name="description">
		<meta content="Spruko Private Limited" name="author">
		<meta name="keywords" content="admin, admin template, dashboard, admin dashboard, responsive, bootstrap, bootstrap 5, admin theme, admin themes, bootstrap admin template, scss, ui, crm, modern, flat">

		<!-- Title -->
		<title>
			{% block title %}
				register
			{% endblock %}
		</title>
		

		<!--Favicon -->
		<link rel="icon" href="{{ asset('assets/images/brand/favicon.ico')}}" type="image/x-icon"/>

		<!--Bootstrap css -->
		<link href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

		<!-- Style css -->
		<link href="{{ asset('assets/css/style.css')}}" rel="stylesheet" />
		<link href="{{ asset('assets/css/dark.css')}}" rel="stylesheet" />
		<link href="{{ asset('assets/css/skin-modes.css')}}" rel="stylesheet" />

		<!-- Animate css -->
		<link href="{{ asset('assets/css/animated.css')}}" rel="stylesheet" />

		<!-- P-scroll bar css-->
		<link href="{{ asset('assets/plugins/p-scrollbar/p-scrollbar.css')}}" rel="stylesheet" />

		<!---Icons css-->
		<link href="{{ asset('assets/css/icons.css')}}" rel="stylesheet" />

		<!-- Simplebar css -->
		<link rel="stylesheet" href="{{ asset('assets/plugins/simplebar/css/simplebar.css')}}">

		<!-- INTERNAL Morris Charts css -->
		<link href="{{ asset('assets/plugins/morris/morris.css')}}" rel="stylesheet" />

		<!-- INTERNAL Select2 css -->
		<link href="{{ asset('assets/plugins/select2/select2.min.css')}}" rel="stylesheet" />

		<!-- Data table css -->
		<link href="{{ asset('assets/plugins/datatables/DataTables/css/dataTables.bootstrap4.min.css')}}" rel="stylesheet" />
		<link href="{{ asset('assets/plugins/datatables/Responsive/css/responsive.bootstrap4.min.css')}}" rel="stylesheet" />

	    <!-- Color Skin css -->
		<link id="theme" href="{{ asset('assets/colors/color1.css')}}" rel="stylesheet" type="text/css"/>

		<!-- INTERNAL Switcher css -->
		<link href="{{ asset('assets/switcher/css/switcher.css')}}" rel="stylesheet"/>
		<link href="{{ asset('assets/switcher/demo.css')}}" rel="stylesheet"/>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="app">

		<!---Global-loader-->
		<div id="global-loader" >
			<img src="{{ asset('assets/images/svgs/loader.svg')}}" alt="loader">
		</div>
		<!--- End Global-loader-->
		
		<div class="box">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		
        {% block body %}{% endblock %}
        		
		<!-- Jquery js-->
		<script src="{{ asset('assets/js/jquery.min.js')}}"></script>

		<!-- Bootstrap5 js-->
		<script src="{{ asset('assets/plugins/bootstrap/popper.min.js')}}"></script>
		<script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js')}}"></script>

		<!--Othercharts js-->
		<script src="{{ asset('assets/plugins/othercharts/jquery.sparkline.min.js')}}"></script>

		<!-- Circle-progress js-->
		<script src="{{ asset('assets/js/circle-progress.min.js')}}"></script>

		<!-- Jquery-rating js-->
		<script src="{{ asset('assets/plugins/rating/jquery.rating-stars.js')}}"></script>

		<!--Horizontal-menu js-->
		<script src="{{ asset('assets/plugins/horizontal-menu/horizontal-menu.js')}}"></script>

		<!-- Sticky js-->
		<script src="{{ asset('assets/js/stiky.js')}}"></script>

		<!-- P-scroll js-->
		<script src="{{ asset('assets/plugins/p-scrollbar/p-scrollbar.js')}}"></script>
		<script src="{{ asset('assets/plugins/p-scrollbar/p-scroll.js')}}"></script>

		<!--INTERNAL Flot Charts js-->
		<script src="{{ asset('assets/plugins/flot/jquery.flot.js')}}"></script>
		<script src="{{ asset('assets/plugins/flot/jquery.flot.fillbetween.js')}}"></script>
		<script src="{{ asset('assets/plugins/flot/jquery.flot.pie.js')}}"></script>
		<script src="{{ asset('assets/js/dashboard.sampledata.js')}}"></script>
		<script src="{{ asset('assets/js/chart.flot.sampledata.js')}}"></script>

		<!-- INTERNAL Chart js -->
		<script src="{{ asset('assets/plugins/chart/chart.bundle.js')}}"></script>
		<script src="{{ asset('assets/plugins/chart/utils.js')}}"></script>

		<!-- INTERNAL Apexchart js -->
		<script src="{{ asset('assets/js/apexcharts.js')}}"></script>

		<!--INTERNAL Moment js-->
		<script src="{{ asset('assets/plugins/moment/moment.js')}}"></script>

		<!--INTERNAL Index js-->
		<script src="{{ asset('assets/js/index1.js')}}"></script>

		<!-- INTERNAL Data tables -->
		<script src="{{ asset('assets/plugins/datatables/DataTables/js/jquery.dataTables.js')}}"></script>
		<script src="{{ asset('assets/plugins/datatables/DataTables/js/dataTables.bootstrap5.js')}}"></script>
		<script src="{{ asset('assets/plugins/datatables/Responsive/js/dataTables.responsive.min.js')}}"></script>
		<script src="{{ asset('assets/plugins/datatables/Responsive/js/responsive.bootstrap5.min.js')}}"></script>

		<!-- INTERNAL Select2 js -->
		<script src="{{ asset('assets/plugins/select2/select2.full.min.js')}}"></script>
		<script src="{{ asset('assets/js/select2.js')}}"></script>

		<!-- Simplebar JS -->
		<script src="{{ asset('assets/plugins/simplebar/js/simplebar.min.js')}}"></script>

		<!-- Rounded bar chart js-->
		<script src="{{ asset('assets/js/rounded-barchart.js')}}"></script>

		<!-- Custom js-->
		<script src="{{ asset('assets/js/custom.js')}}"></script>

		<!-- Switcher js -->
		<script src="{{ asset('assets/switcher/js/switcher.js')}}"></script>
		<!-- Show Password -->
		<script src="{{ asset('assets/js/bootstrap-show-password.min.js')}}"></script>




    </body>
</html>
